html { 
    height:100%; 
}
body { 
    height:100%; 
    overflow:hidden; 
    margin:0; 
    padding:0; 
    font-family:Arial, Helvetica, sans-serif; font-size:16px; 
    color:#FFFFFF; 
    background-color:#000000; 
}
#app{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.viewbox{
    position: absolute;
    left: 12px;
    bottom: 12px;
    width: 296px;
    height: 68px;
    display: flex;
    pointer-events: none;
}
.view_item{
    width: 44px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    justify-content: space-around;
}

.view_img{
    position: relative;
    width: 44px;
    height: 44px;
    background-color: rgba(37,39,40,0.4);
    border-radius: 50%;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.view_img:hover{
    background-color: rgba(1,167,154,0.8);
}

.view_img img{
    width: 60%;
    height: 60%;
    border-radius: 50%;
}
.view_img.active{
    background-color:  rgba(1,167,154,0.8) !important;
}
.view_title{
    width: 100%;
    color: #eee;
    font-size: 12px;
    text-align: center;
}