﻿<!DOCTYPE html>
<html>
<head>
	<title>krpano</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" />
	<style>
		
	</style>
	<link href='./css/index.css' rel="stylesheet" type="text/css" />
</head>
<body>

<div id="pano" style="width:100%;height:100%;">
	<noscript><table style="width:100%;height:100%;"><tr style="vertical-align:middle;text-align:center;"><td>ERROR:<br><br>Javascript not activated<br><br></td></tr></table></noscript>
</div>

<div id="app">
	<div class="viewbox">
		<div class="view_item" v-for="(item,index) in viewBox">
			<div 
				@click="changeView(index)"
				:class="viewItemIndex === index ? 'view_img active' : 'view_img'"
			>
				<img :src="item.img" alt="">
			</div>
			<div class="view_title">
				{{item.name}}
			</div>
		</div>
	</div>
</div>



<script src="krpano21.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/index.js"></script>
</body>
</html>
